<!DOCTYPE html>
<head>
    <title>Rent prediction</title>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <section>
        
        <header>
          </div>
          <h2><a href="#title" class="logo">Rent prediction</a></h2>
          <div class="navigation">
            <a href="#">Home</a>
            <a href="#dashboard">Dashboard</a>
            <a href="#info">Developer</a>
            <a href="/predict">Predictor</a>
          </div>
        </header>
          <h3>Use predictor to find out the rent in Indian Metropolitan cities</a></h3>
        </body>          